<div th:fragment="img-carousel" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="div" th:each="gameimg : ${imagenes}">
            <div class="carousel-item active">
                <img  style="max-width: 80%; margin-right: auto; margin-left: auto;" class="d-block w-100" th:src="${gameimg.link}" alt="Slides">
            </div>

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>