<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Ingreso de datos para la compra</title>

</head>
<body style="background-image: url('https://i.pinimg.com/originals/9b/0b/c6/9b0bc63a987fbaa2beaa44ba94e105d7.gif');
background-size: cover; background-position: center center; background-attachment: fixed;">

<nav th:replace="components/nav-bar :: nav_bar"></nav>


  <div class="container-fluid bg-transparent">
    <div class="row justify-content-center pt-5 mt-5 mr-1">
      <form th:action="@{/usuarios/direccion-tarjeta}" method="post" >
        <div class="row">
          <div class="col-sm-6">
            <div class="card text-white text-center" style="background-color: rgba(0,0,0,0.5); padding: 20px;" th:object="${tarjeta}">
              <div class="card-body">

                <h5 class="card-title">Agregar tarjeta</h5>

                <div class="form-group text-center row justify-content-center">
                  <label for="nro_tarjeta">numero de tarjeta:</label>
                  <input  type="number" class="form-control text-center" id="nro_tarjeta" th:field="*{nro_tarjeta}">
                  <div class="text-danger" th:if="${#fields.hasErrors('nro_tarjeta')}" th:errors="*{nro_tarjeta}"></div>
                </div>
                <div class="form-group  row justify-content-center">
                  <label for="cvv">cvv:</label>
                  <input  type="number" class="form-control text-center" id="cvv" th:field="*{cvv}" required size="4">
                  <div class="text-danger" th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}"></div>
                </div>
                <div class="form-group  row justify-content-center">
                  <label for="nombre_titular">nombre del titular:</label>
                  <input  type="text" class="form-control text-center" id="nombre_titular" th:field="*{nombre_titular}">
                  <div class="text-danger" th:if="${#fields.hasErrors('nombre_titular')}" th:errors="*{nombre_titular}"></div>
                </div>
                <div class="form-group row justify-content-center">
                  <label for="apellido_titular">apellido del titular:</label>
                  <input  type="text" class="form-control text-center" id="apellido_titular" th:field="*{apellido_titular}">
                  <div class="text-danger" th:if="${#fields.hasErrors('apellido_titular')}" th:errors="*{apellido_titular}"></div>
                </div>
                <div class="form-group row justify-content-center">
                  <label for="fecha_vencimiento">fecha de vencimiento:</label>
                  <input  type="date" class="form-control text-center" id="fecha_vencimiento" th:field="*{fecha_vencimiento}">
                  <div class="text-danger" th:if="${#fields.hasErrors('fecha_vencimiento')}" th:errors="*{fecha_vencimiento}"></div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card text-white text-center" style="background-color: rgba(0,0,0,0.5); padding: 20px;" th:object="${direccion}">
              <div class="card-body">
                <h5 class="card-title">Agregar direccion</h5>
                <div class="form-group  row justify-content-center">
                  <label for="calle">calle:</label>
                  <input  type="text" class="form-control text-center" id="calle" th:field="*{calle}">
                  <div class="text-danger" th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}"></div>
                </div>

                <div class="form-group row justify-content-center">
                  <label for="localidad">localidad:</label>
                  <input  type="text" class="form-control text-center" id="localidad" th:field="*{localidad}">
                  <div class="text-danger" th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}"></div>
                </div>

                <div class="form-group row justify-content-center">
                  <label for="pais">pais:</label>
                  <input  type="text" class="form-control text-center" id="pais" th:field="*{pais}">
                  <div class="text-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
                </div>

                <div class="form-group  row justify-content-center">
                  <label for="num_casa">numero de casa:</label>
                  <input  type="text" class="form-control text-center" id="num_casa" th:field="*{num_casa}">
                </div>
                <div class="justify-content-center">
                  <h5>o</h5>
                </div>
                <div class="form-group  row justify-content-center">
                  <label for="piso">piso</label>
                  <input  type="text" class="form-control text-center" id="piso" th:field="*{piso}">
                </div>

              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-danger" type="submit" style="width:100%">Guardar</button>
        </div>
    <div class="form-group col-md-6 invisible">
      <input  type="text" name="prueba" th:value="${httpRedireccion}">
    </div>
      </form>
    </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>














