<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Formulario Eliminar</title>
</head>
<body style="background: #383838; color: white">

<nav th:replace="components/nav-bar :: nav_bar"></nav>

<div class="container mt-5" style="background: #383838; color: white">
  <div class="row mt-5" style="background: #383838; color: white">
    <div class="col-12" style="background: #383838; color: white">
      <div class="card" style="background: #383838; color: white">
        <div class="card-body" style="background: #383838; color: white">
          <form th:action="@{/videojuego/eliminar/videojuego/{id}(id=${videojuego.id})}" method="post" enctype="multipart/form-data" style="background: #383838; color: white">
            <div class="row g-3 text-center" style="background: #383838; color: white">
              <div class="form-group col-md-12" style="background: #383838; color: white">
                <h4 th:if="${videojuego.activo}">Esta seguro de desactivar este producto?</h4>
                <h4 th:unless="${videojuego.activo}">Esta seguro de activar este producto?</h4>
              </div>
            </div>
            <div class="row m-3" style="background: #383838; color: white">
              <div class="col-md-6" style="background: #383838; color: white">
                <button class="btn btn-outline-danger" type="submit" style="width:100%">Si</button>
              </div>
              <div class="col-md-6" style="background: #383838; color: white">
                <a class="btn btn-danger" th:href="@{/videojuego/crudVideojuego}" style="width:100%">No</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>