<!DOCTYPE html>
<html style="font-size: 16px;" lang="es" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0b3360c55c.js" crossorigin="anonymous"></script>
</head>
<body  style="background: #121212; background-image: url('https://r1.ilikewallpaper.net/iphone-8-wallpapers/download/36659/Digital-dark-color-blue-pattern-background-iphone-8-wallpaper-ilikewallpaper_com.jpg')" class="d-flex flex-column min-vh-100">
 <nav th:replace="components/nav-bar :: nav_bar"></nav>
 <br>
    <div class="container" style="width: 60%; margin-right: auto; margin-left: auto;"> <!-- max-width: 1000px  -->

         <div class="card" th:if="${ultVideojuego != null}">
                <img th:src="${ultVideojuego.img_portada}"> <!-- style="height: 25rem;" -->

            <div class="card-img-overlay card-inverse">
                <div class="text-stroke text-white pb-5" style="text-decoration: underline; font-size: 1.875em; color: #525151!important"><a style="text-decoration:none; color: white" th:href="@{/videojuego/detalle/{id}(id=${ultVideojuego.id})}">Ultimo Lanzamiento!</a></div>
            </div>
         </div>
    </div>
 <br>
<div>
    <div class="container">
        <div class="row mt-3">
            <div class="flex" style="align-items: center">
                <form class="form-group mx-sm-3 mb-2" th:action="@{/videojuego/busqueda}">
                    <input class="form-control mr-sm-1 mb-3" type="search" style="width:100%; color: #525151" placeholder="Ingrese un titulo..." aria-label="Search" name="query">
                    <button class="btn btn-outline-danger my-2 my-sm-0" style="margin-left:40%; padding-right:100px; padding-left:100px;" type="submit">Buscar</button>
                </form>
            </div>
            </div>
    </div>
</div>



 <br>
 <br>
 <hr style="background-color: white; height: 4px;">
 <hr style="background-color: white; height: 4px;">

</section>
 <br>
 <div><div class="container" style="align-items: center; justify-content: center; display: flex">
     <h2 style="color: white">- CATEGORIAS -</h2>
     <br>

 </div>
 </div>

 <div class="container" style="align-items: center; justify-content: center; display: flex">
     <div class="row mt-5">
         <div class="col-12 col-md-3" th:each="categoria : ${categorias}">
                <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="https://i.pinimg.com/originals/47/1a/4d/471a4d3424094073512bb7564cc57144.jpg" alt="Imagen categoria">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${categoria.tipo}"></h5>
                        <a th:href="@{/categoria/categoriaDetalle/{id}(id=${categoria.id})}" style="margin-left: 2.5em;" class="btn btn-secondary btn-lg"> Ver juegos!</a>

                    </div>
                </div>
         </div>
     </div>
 </div>

 <br>
 <br>
 <hr style="background-color: white; height: 4px;">
 <br>
 <div><div class="container" style="align-items: center; justify-content: center; display: flex">
         <h2 style="color: white">- ESTUDIOS -</h2>
         <br>
 </div>
 </div>


 <div class="container" style="align-items: center; justify-content: center; display: flex">
     <div class="row mt-5">
         <div class="col-12 col-md-3" th:each="estudio : ${estudios}">
             <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                 <img class="card-img-top" src="https://i.pinimg.com/originals/63/84/2f/63842f74f22014e15b04875aafbbae70.jpg" alt="Imagen estudio">
                 <div class="card-body">
                     <h5 class="card-title" th:text="${estudio.nombre}"></h5>
                     <a th:href="@{/estudio/estudioDetalle/{id}(id=${estudio.id})}" style="margin-left: 2.5em;" class="btn btn-secondary btn-lg"> Ver juegos!</a>

                 </div>
             </div>
         </div>
     </div>
 </div>


 <br>
 <br>
 <hr style="background-color: white; height: 4px;">
 <br>
 <div><div class="container" style="align-items: center; justify-content: center; display: flex">
     <a style="color: white" class="btn btn-danger btn-lg" th:href="@{/merch/merchLista}">- SECCIÓN MERCHANDISING -</a>
     <br>

 </div></div>
 <br>
 <br>
 <footer th:replace="components/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

 </body></html>

