<!DOCTYPE html>
<html style="font-size: 16px;" lang="es" xmlns:th="http://www.thymeleaf.org"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
    .page-item.active .page-link {
      color: #fff !important;
      background: #f00 !important;
    }
</style>
    <script src="https://kit.fontawesome.com/0b3360c55c.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100" style="background: #121212; background-image: url('https://r1.ilikewallpaper.net/iphone-8-wallpapers/download/36659/Digital-dark-color-blue-pattern-background-iphone-8-wallpaper-ilikewallpaper_com.jpg')" text="#ffffff">
<nav th:replace="components/nav-bar :: nav_bar"></nav>

<br>
<div><div class="container" style="align-items: center; justify-content: center; display: flex">
    <h2 style="color: white; font-size: 40px"> - MERCHANDISING - </h2>
</div> </div>

<hr style="background-color: white; height: 4px;">
<br>
<div>
    <div class="container">
        <div class="row mt-3">
            <div class="flex" style="align-items: center">
                <form class="form-inline my-2 my-lg-0" th:action="@{/merch/busquedaMerch}">
                    <input class="form-control mr-sm-1" type="search" placeholder="Buscar..." aria-label="Search" name="query">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<div class="container" style="align-items: center;">
    <div class="row mt-5">
        <div class="col-12 col-md-3" th:each="merch : ${merchs}">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img class="card-img-top" th:src="${merch.img_portada}" alt="Imagen promocion de articulo">
                <div class="card-body">
                    <h5 class="card-title" th:text="${merch.nombre}"></h5>
                    <p class="card-text">Precio: $<span th:text="${merch.precio}"></span></p>
                    <div style="color: white; font-size: 20px" th:if="${merch.stock>0}">Disponible</div><div style="color: red; font-size: 20px" th:if="${merch.stock==0}">No Disponible Actualmente</div>
                    <a th:href="@{/merch/detalleM/{id}(id=${merch.id})}" style="margin-left: 2.5em;" class="btn btn-danger btn-lg"> Ver detalles!</a>

                </div>
            </div>
        </div>
    </div>
</div>






<div class="row">
    <div class="col-md-2" id="atras"></div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                    <a class="bg-black text-white page-link" th:href="@{|/merch/merchLista?page=${prev}|}">Anterior</a>
                </li>
                <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active' : ''}">
                    <a class="bg-black text-white page-link" th:href="@{|?page=${page}|}" th:text="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                    <a class="bg-black text-white page-link" th:href="@{|/merch/merchLista?page=${next}|}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>

<footer th:replace="components/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body></html>